.title {
  position: relative;
  top: 63px;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;

  h1 {
    font-family: $condense-font;
    font-size: 3rem;
    text-align: center;
  }
}

@media screen and (min-width: $max-mobile-width) {
  .title {
    top: 70px;
  }
}
