@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

$gutter-big: 7%;
$gutter-med: 5%;
$gutter: 1.5rem;
$placeholder: #cdcdcd;
$dark-placeholder: #999;
$transparent-dark: rgba(51, 51, 51, 0.5);
$condense-font: 'Oswald', sans-serif;
$copy-font: 'Lato', sans-serif;

/* Media Queries */
$max-mobile-width: 700px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-family: $condense-font;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h1 {
  font-family: $copy-font;
  font-size: 2rem;
  font-weight: 900;
}

h3 {
  font-family: $condense-font;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

h4 {
  font-family: $condense-font;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  font-family: $copy-font;
  font-weight: 300;
  font-size: 0.7rem;
  text-transform: capitalize;
}

p {
  font-size: 1rem;
  font-family: $copy-font;
}

.social-links {
  display: flex;
  justify-content: space-around;

  i {
    font-size: 2rem;
    padding: 1rem;
  }

  a {
    color: rgba(255, 255, 255, 0.5);
  }

  a:hover {
    color: rgba(255, 255, 255, 1);
  }
}

form {
  display: flex;
  justify-content: space-between;

  input {
    background-color: $transparent-dark;
    border: none;
    padding: 0 1rem;
    font-family: $copy-font;
  }

  a {
    border: 2px solid white;
    padding: 0.25rem 0.5rem;
    font-family: $condense-font;
    color: #fff;
    text-transform: uppercase;
  }
}

@media screen and (min-width: $max-mobile-width) {
  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}
