@import url('https://fonts.googleapis.com/css?family=Prompt:300i,400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

$gutter: 1.5rem;
$transparent-dark: rgba(51, 51, 51, 0.5);

$condense-font: 'Oswald', sans-serif;
$copy-font: 'Prompt', sans-serif;

/* Media Queries */
$max-mobile-width: 700px;

h1 {
  font-family: $copy-font;
  font-size: 2rem;
  font-weight: 700;
}
