.lineup {
  margin: $gutter;
}

.carousel-lineup {
  margin: 1.5rem 0;
  display: flex;
  width: 100%;
  position: relative;

  img {
    width: 6rem;
    height: 6rem;
    margin: auto;
    background: $placeholder;
  }

  i {
    font-size: 2rem;
    align-self: center;
    color: $transparent-dark;
  }

  i:last-of-type {
    padding-left: 0.5rem;
  }

  i:first-of-type {
    padding-right: 0.5rem;
  }

  a {
    position: relative;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      font-family: $condense-font;
      font-weight: lighter;
      text-align: center;
      color: rgba(255, 255, 255, 1);
    }
  }

  a:hover {
    p {
      color: rgba(255, 255, 255, 1);
    }
  }

  button,
  li {
    display: none;
  }
}

@media screen and (min-width: $max-mobile-width) {
  .lineup {
    margin: $gutter-big;
  }

  .carousel-lineup {
    img {
      width: 12rem;
      height: 12rem;
    }

    i {
      font-size: 2.5rem;
      align-self: center;
    }

    p {
      font-size: 1.25rem;
    }
  }
}
