.lineup {
  margin: $gutter;

  h2 {
    width: 100%;
    font-family: $condense-font;
    font-size: 1.5rem;
  }
}

.carousel-lineup {
  margin: 1.5rem 0;
  display: flex;

  // .slick-list {
  //   display: flex;
  //   justify-content: center;
  // }

  img {
    width: 6rem;
    height: 6rem;
    background: $placeholder;
    padding: 0;
    margin: 0.25rem;
  }

  i {
    margin: 2.5rem 0.5rem;
  }

  a {
    color: rgba(255, 255, 255, 0);
  }

  button,
  li {
    display: none;
  }
}

@media screen and (min-width: $max-mobile-width) {
  .carousel-lineup {
    img {
      width: 10rem;
      height: 10rem;
    }

    i {
      align-self: center;
    }
  }
}
