.cta-footer {
  background-color: $placeholder;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: $gutter-med;

  h1 {
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
  }
}

@media screen and (min-width: $max-mobile-width) {
  .cta-footer {
    h1 {
      font-size: 2rem;
    }
  }
}
