.feature-3 {
  margin: 2rem $gutter;
  position: relative;
  display: flex;
  flex-flow: column;

  video {
    width: 100%;
    height: 300px;
    background: $placeholder;
    z-index: -1;
    position: relative;
  }

  .play-icon {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  i {
    font-size: 3rem;
  }

  .video-title {
    width: 100%;
    background: $transparent-dark;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    margin: 0;
  }
}

@media screen and (min-width: $max-mobile-width) {
  .feature-3 {
    margin: $gutter-med $gutter-big;

    video {
      height: 500px;
    }
  }
}
